/ThirdParty/
/ThirdParty.meta
/Art/2D Forest Pack with 9-slicing sprites/
/Art/2DCP/
/Art/GUI PRO Kit - Casual Game/
/Art/Temp/
/Art/2D Forest Pack with 9-slicing sprites.meta
/Art/2DCP.meta
/Art/GUI PRO Kit - Casual Game.meta
/Art/Temp.meta